<app-navbar></app-navbar>

<div class="container mt-5">

    <!-- <div class="col-6 offset-3">
      <div class="form-group">
        <label for="userName">UserName</label>
        <input type="text" #userName class="form-control">
      </div>
      <button class="btn btn-sm btn-primary" (click)="onSearchUser()">Search User</button>
    </div>
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div> -->

  <app-loader></app-loader>

    <app-todo-dashboard></app-todo-dashboard>
    <hr>
    <app-std-dashboard></app-std-dashboard>
</div>